<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Price</th>
    <th>Website</th>
    <th>Phone</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.company %></td>
    <td><%= quote.price %></td>
    <td><%= quote.website %></td>
    <td><%= quote.phone %></td>
    <td><%= quote.notes %></td>
    <td><%= link_to 'Show', [quote.project, quote] %></td>
    <td><%= link_to 'Edit', edit_project_quote_path(quote.project, quote) %></td>
    <td><%= link_to 'Destroy', [quote.project, quote], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_project_quote_path(params[:project_id]) %>
